In [2]:
import sqlalchemy

print(sqlalchemy.__version__)

1.4.45

# Create database

In [9]:
from sqlalchemy import create_engine, MetaData, Table, Column, String, Integer, Float, Boolean, inspect

## SQLite

In [10]:
# Criando um banco de dados SQLite que ainda n√£o existe
engine = create_engine("sqlite:///data/employees.sqlite")

In [11]:
metadata = MetaData()

In [12]:
# Criando uma tabela chamada employees no banco de dados armazenado em engine
employees = Table('employees', metadata,
                  Column('id', Integer()),
                  Column('name', String(255), unique=True, nullable=False),
                  Column('salary', Float(), default=100.00),
                  Column('active', Boolean(), default=True)
                 )
metadata.create_all(engine)
inspect(engine).get_table_names()

['employees']