In [1]:
import sqlalchemy

print(sqlalchemy.__version__)

1.4.45

## Temporary database

In [22]:
from sqlalchemy import create_engine, select, MetaData, Table, delete, Column, String, Integer, Float, Boolean, insert, inspect

In [23]:
# Criando
engine = create_engine("sqlite:///data/temp-employees.sqlite")
metadata = MetaData()
employees = Table('employees', metadata,
                  Column('id', Integer()),
                  Column('name', String(255), unique=True, nullable=False),
                  Column('salary', Float(), default=100.00),
                  Column('active', Boolean(), default=True)
                 )
metadata.create_all(engine)
connection = engine.connect()

# Inserindo
statement = insert(employees)
values_list = [
    {'id': 1, 'name': 'Jason', 'salary': 1.00, 'active': True},
    {'id': 2, 'name': 'Rebecca', 'salary': 2.00, 'active': True},
    {'id': 3, 'name': 'Bob', 'salary': 0.00, 'active': False}]
result_proxy = connection.execute(statement, values_list)

In [15]:
connection.execute(select([employees])).fetchall()

[(1, 'Jason', 1.0, True), (2, 'Rebecca', 2.0, True), (3, 'Bob', 0.0, False)]

# Delete data

In [16]:
# Deletando apenas a linha em que id Ã© igual a 3
delete_stmt = delete(employees).where(employees.columns.id == 3)

result_proxy = connection.execute(delete_stmt)
result_proxy.rowcount

1

In [17]:
# Deletando todos os dados da tabela
delete_stmt = delete(employees)

result_proxy = connection.execute(delete_stmt)
result_proxy.rowcount

2

In [24]:
# Deletando a tabela employees
employees.drop(engine)
inspect(engine).has_table('employees')

False

In [26]:
# Deletando todas as tabelas em engine
metadata.drop_all(engine)
inspect(engine).get_table_names()

[]