In [1]:
import sqlalchemy

print(sqlalchemy.__version__)

1.4.45

# Insert

Se for necessário criar o banco de dados `employees` novamente, o código que o cria está no notebook `create-database.ipynb`.

In [2]:
from sqlalchemy import create_engine, select, MetaData, Table, insert

In [3]:
engine = create_engine("sqlite:///data/employees.sqlite")

In [4]:
# Criando uma conexão com o banco para executar comandos
connection = engine.connect()

In [5]:
metadata = MetaData()
employees = Table('employees', metadata, autoload=True, autoload_with=engine)

In [6]:
# Inserindo uma linha na tabela employees
statement = insert(employees).values(id=1, name='Jason', salary=1.0, active=True)

print(statement)

# Executando o comando e obtendo o número de linhas que foram inseridas
result_proxy = connection.execute(statement)
result_proxy.rowcount

INSERT INTO employees (id, name, salary, active) VALUES (:id, :name, :salary, :active)

1

In [7]:
# Inserindo multiplos valores de uma vez na tabela
statement = insert(employees)
values_list = [
    {'id': 2, 'name': 'Rebecca', 'salary': 2.00, 'active': True},
    {'id': 3, 'name': 'Bob', 'salary': 0.00, 'active': False}]

result_proxy = connection.execute(statement, values_list)
result_proxy.rowcount

2